<html>
<h1>Search For a Movie</h1>
<h1><span>Created By Aravind A</span></h1>
<form action="/results" method="GET">
	<input type="text" placeholder="Search Movie" name="search">
	<button>Submit</button>
</form>
</html>
<style rel="stylesheet">

h1{
	text-align:center;
	color:red;
}

form{
	
	text-align:center;
	color:red;
}

html{
	
	background-image:url("https://previews.123rf.com/images/hugolacasse/hugolacasse1705/hugolacasse170500025/79259650-blue-film-reel-movie-background-in-front-of-hollywood-city-at-night.jpg");
	background-repeat: no-repeat;
	margin: auto;
	diaplay: inline-block;
	background-size: cover;
}

button{
	color:green;
}

span{
	
	color:yellow;
}
</style>