<% include ../partials/header %>

<div class="row text-center" style="display:flex; flex-wrap:wrap;">	
<% sports.forEach(function(sp){ %>
	
		<div>
		<h4><%= sp.college %></h4>
		<div class="caption">
		<h4><%= sp.sport %></h4>
		</div>
		
			<p>
			<a class="btn btn-primary" href="/sports/<%= sp._id %>">Show Players</a>
			<a class="btn btn-primary" href="/sports/new">Update players</a>
			</p>
	
		</div>
	
<% }); %>

	</div>

<% include ../partials/footer %>